@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #FCFCFC;
    color: #252528;
    font-family: "Noto Sans", sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Outfit", sans-serif;
    font-weight: 600;
}

/*Navigatie*/
.navbar{
    background-color: #FCFCFC!important;
}
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo{
    clip-path: circle(40% at 50% 45%);
    width: 70px;
    margin-top: 6px;
}
.navbar-logo-tekst{
    line-height: 1.2;
}
#nav-titel, #nav-subtitel{
    color: #252528;
    text-decoration: none;
}
#nav-titel{
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}
#nav-subtitel{
    font-size: 12px;
    margin: 0;
}
.navbar-collapse{
    flex-grow: 0;
}
.nav-item{
    padding: 5px 15px;
}
.nav-link{
    color: #252528;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 20px;
    transition: all 0.5s ease;
}
.active{
    color: #94CCCB!important;
}
.nav-link:hover{
    color: #B974B0!important;
}
.navbar-toggler{
    border: none;
}
.navbar-icon{
    display: inline-block;
    color: #252528;
    font-size: 42px;
    -webkit-text-stroke: 1px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.navbar-icon.bi-list{
    transform: rotate(0deg);
}
.navbar-icon.bi-x{
    transform: rotate(90deg);
    opacity: 1;
}
.navbar-icon.bi-x.bi-list{
    opacity: 1;
    transform: rotate(0deg);
}
.contact-btn{
    background-color: #B974B0;
    color: #FCFCFC;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    padding: 4px 22px;
    border-radius: 25px;
    transition: all 0.5s ease;
}
.contact-btn:hover{
    background-color: #94CCCB;
    color: #252528;
}
/*Footer*/
footer{
    background-color: #B974B0;
    min-height: 280px;
    position: relative;
    color: #FCFCFC;
    font-size: 14px;
    overflow-x: hidden;
}
#footer-achtergrond{
    height: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
footer li a{
    color: #FCFCFC!important;
    line-height: 2.2;
    transition: all 0.5s ease;
}
footer li a:hover{
    color: #94CCCB!important;
}
footer p{
    margin: 0;
}
#footer-icon{
    font-size: 18px;
}

/*Home*/
/*Hero-section*/
.hero-container{
    background-color: #BADEDD;
    box-shadow: inset 0px 0px 8px 1px #999992;
}
.hero-image{
    width: 250px;
    clip-path: circle(40% at 50% 46%);
}
.hero-container h1{
    font-family: "Crete Round";
}
.lead{
    font-size: 1.1rem;
}
.btn-primary{
    background-color: #B974B0;
    border: none;
    font-family: "Outfit", sans-serif;
    transition: all 0.5s ease;
}
.btn-primary:hover{
    background-color: #8f5a88;
}
.btn-primary:active{
    background-color: #B974B0!important;
    color: #FCFCFC!important;
}
/*Cards*/
.card{
    width: 86%;
    height: auto;
    background-color: #FCFCFC;
    border: none;
    box-shadow: 2px 2px 15px 1px #d2d2d2; 
}
.bi-arrow-right{
    display: inline-block;
    margin-left: 5px;
    animation: bounce-right 2.5s infinite ease-in-out;
}

/*CV*/
.bg-lightblue{
    background-color: #BADEDD;
}
.foto-cv{
    width: 180px;
}
/*Quote*/
.blockquote{
    background-color: #B974B0;
    color: #FCFCFC;
}
.blockquote p{
    font-family: "Crete Round", sans-serif;
}
.blockquote cite{
    font-size: 16px;
}

/*Ervaring*/
/*Opleiding*/
#opleiding{
    height: 460px;
    background-color: #BADEDD;
}
.ervaring-container{
    height: 80%;
    gap: 80px;
}
.ervaring-titel{
    font-size: 24px!important;
    margin-bottom: 20px;
    padding-top: 40px;
}
.tijdlijn{
    width: 35%;
    height: 93%;
}
.tijdlijn::after{
    content: '';
    position: absolute;
    width: 6px;
    background-color: #252528;
    border-radius: 15px;
    top: 20px;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
}
.tijdlijn-links, .tijdlijn-rechts{
    width: 45%;
    height: auto;
    padding: 20px 10px;
}
.tijdlijn-links h3, .tijdlijn-rechts h3{
    margin: 0;
    font-size: 20px!important;
}
.tijdlijn-links p, .tijdlijn-rechts p{
    margin: 0;
    font-size: 14px!important;
}
.tijdlijn-links{
    left: 0;
    margin-right: 10px;
}
.tijdlijn-rechts{
    left: 50%;
    margin-left: 20px;
}
.tijdlijn-bolletje{
    width: 22px;
    height: 22px;
    background-color: #B974B0;
    border: 3px solid #BADEDD;
    left: calc(50%);
    transform: translateY(-50%);
    transform: translateX(-50%);
    z-index: 5;
}
.tijdlijn-bolletje.netwerken{
    top: 13%;
}
.tijdlijn-bolletje.webontwikkelaar{
    top: 43.5%;
}
.tijdlijn-bolletje.programmeren{
    top: 74.5%;
}
#diplomas, #werk-uitleg{
    width: 35%;
    height: 100%;
}
#diplomas li{
    margin: 20px 0;
    gap: 20px;
    font-size: 15px;
}
.diploma-icon{
    font-size: 30px;
}
/*Werkervaring*/
#werkervaring{
    height: 480px;
    width: 100%;
}
#werk-uitleg h4{
    font-size: 18px;
    margin-top: 35px;
}
#werk-uitleg p{
    margin-bottom: 40px;
}
.tijdlijn.werk::after{
    background-color: #D0D0D0;
    bottom: 20px;
}
.tijdlijn-bolletje.werk{
    border: 3px solid #FCFCFC;
    background-color: #BADEDD;
}
.tijdlijn-bolletje.jobstudent{
    top: 15%;
}
.tijdlijn-bolletje.digidokter{
    top: 48.5%;
}
.tijdlijn-bolletje.coderdojo{
    top: 78%;
}

/*Interesses*/
.interesses-inleiding{
    background-color: #B974B0;
    color: #FCFCFC;
}
.carousel-caption h5, .carousel-caption p{
    text-shadow: 0px 0px 8px #343434;
}
.interesse-item{
    border-radius: 25px;
    padding: 20px 40px;
    width: 90%;
}
.interesse-item h2{
    margin-bottom: 15px;
    font-size: 22px;
}
.interesse-item img{
    width: 190px;
    height: 240px;
    border-radius: 25px;
    margin-right: 25px;
}
.interesse-item.blauw{
    background-color: #BADEDD;
}

/*Contact*/
.contact-gegevens li{
    margin: 16px 0;
}
.contact-gegevens li a{
    color: #252528;
    text-decoration: none;
    transition: all 0.5s ease;
}
.contact-gegevens li a:hover{
    color: #B974B0;
}
.contact-icon{
    color: #B974B0;
}
.icon-link{
    color: #B974B0;
    font-size: 22px;
    transition: all 0.5s ease;
}
.icon-link:hover{
    color: #BADEDD;
}
/*Formulier*/
.form-control, .form-select{
    background-color: #BADEDD;
    color: #252528;
    border-radius: 18px;
    padding: 7px 12px;
    min-height: 30px;
    border: none;
    margin: 5px 0 20px 0;
    font-family: "Noto Sans", sans-serif;
}
.form-control:focus, .form-select:focus{
    background-color: #BADEDD;
    color: #252528;
    border: 1px solid #252528;
    box-shadow: none;
}
.naam-container{
    display: flex;
    gap: 40px;
}
#verzenden{
    background-color: #B974B0;
    color: #FCFCFC;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    border-radius: 25px;
    border: none;
    padding: 6px 22px;
    transition: all 0.5s ease;
}
#verzenden:hover{
    background-color: #BADEDD;
    color: #252528;
    cursor: pointer;
}

@media only screen and (max-width: 992px){
    #opleiding, #werkervaring{
        height: auto;
    }
    .ervaring-container{
        height: 100%;
        gap: 45px;
    }
    .ervaring-titel{
        margin-bottom: 40px;
    }
    .tijdlijn{
        width: 100%;
        height: 50%;
    }
    .tijdlijn::after{
        top: 5px;
        bottom: 5px;
    }
    .tijdlijn-links, .tijdlijn-rechts{
        width: 46%;
        padding: 15px 5px;
    }
    .tijdlijn-bolletje.netwerken{
        top: 12.5%;
    }
    .tijdlijn-bolletje.webontwikkelaar{
        top: 50%;
    }
    .tijdlijn-bolletje.programmeren{
        top: 81.2%;
    }
    #diplomas, #werk-uitleg{
        width: 90%;
        height: auto;
        margin-bottom: 20px;
    }
    #diplomas li{
        margin: 10px auto;
        width: 90%;
        gap: 20px;
        font-size: 15px;
    }
    .diploma-icon{
        font-size: 30px;
    }
    /*Werkervaring*/
    .tijdlijn-links h3:nth-child(2){
        overflow-wrap: break-word;
        padding-left: 5px;
    }
    .tijdlijn.werk::after{
        top: 5px;
        bottom: 5px;
    }
    .tijdlijn-bolletje.jobstudent{
        top: 18%;
    }
    .tijdlijn-bolletje.digidokter{
        top: 54.2%;
    }
    .tijdlijn-bolletje.coderdojo{
        top: 82.5%;
    }
}
@media only screen and (min-width: 768px){
    .footer-contact{
        margin-top: 80px;
    }
    .bg-lightblue{
        width: 70%;
    }
    .contact-container{
        grid-template-columns: 50% 50%;
    }
    .contact-container div:first-child, .contact-container div:nth-child(2){
        grid-column-start: 1;
    }
    .contact-container div:last-child{
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .interesses-inleiding{
        width: 35%;

    }
    .carousel{
        width: 65%;
        height: 500px;
    }
    .carousel-inner, .carousel-item, .carousel-item img{
        height: 100%;
        object-fit: cover;
    }
}
@media only screen and (min-width: 1200px){
    .mb-lg-0 {
        margin-bottom: 0 !important;
    }
    .navbar{
        padding: 8px 50px;
    }
    .navbar-collapse{
        margin-right: 250px;
    }
    .blockquote{
        width: 70%;
        margin: 0 auto;
    }
    .interesse-item{
        width: 45%;
        min-height: 340px;
    }
}

@keyframes bounce-right{
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(3px);
    }
    20%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(3px);
    }
    40%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(0);
    }
}